body {
  font-family: "Staatliches", cursive;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  color: rgb(56, 55, 55);
}
.top {
  background-image: linear-gradient(
    to right top,
    #fca7a7,
    #fdb3b3,
    #febfbf,
    #ffcaca,
    #ffd6d6
  );
  margin-top: 50px;
}
#weatherIcon {
  max-width: 200px;
  height: auto;
  margin-top: 90px;
  margin-left: 40px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 60px;
  margin-bottom: 0px;
}
p {
  font-weight: 200;
  margin-top: -10px;
  color: rgba(128, 124, 124, 0.652);
}
ul {
  list-style: none;
  padding: 0px;
  margin-left: 0px;
  line-height: 15px;
}
#mainInfo {
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.183);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin-left: 50px;
  margin-top: 20px;
}
#else {
  margin: 30px;
  padding: 10px;
  padding-left: 35px;
}
